* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  img {
    width: 50%;
    position: relative;
    //transform: rotate(random(360) + deg);
  }
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4ac;
}

.selected {
  background-color: brown;
}

.available {
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: #c802e5;
  filter: blur(2px);
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin: 20px;
  background-color: lightgray;
}